/* Reset some styles for a clean start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;/*vertical horizontal*/
    background-color: rgb(219, 252, 177);
   background-size: cover;
  }
  
  .calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .display {
    width: 100%;
    height: 50px;
    font-size: 2rem;
    text-align: right;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    font-size: 1.5rem;
    padding: 20px;
    background-color: #f7aaaa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #1f1818;
  }
  
  button:active {
    background-color: #9e87dd;
  }
 