.liki {
    font-size: medium;
    font-style: oblique;
    background-color: rgb(140, 212, 245);
}

img {
    margin: 10px;
    outline: 10px solid rgb(195, 195, 247);
    border-width: 15px;
    border-style: solid;
    border-color: rgb(203, 200, 238);
    padding: 10px;
    background-color: 
    rgb(190, 227, 241);
}

#int {
    font-size: larger;
    font-style:arial;
}
body{
    background-color: rgb(198, 238, 201);
}
a{
    font-size: 20px;
    font-style: oblique;
    color: rgb(39, 27, 80);
    border-width: 3px;
    border-style: ridge;
    border-color: rgba(228, 107, 127, 0.897);
}